# Based upon: https://github.com/JuliaRegistries/CompatHelper.jl/blob/70ddefcdea232a7cde9d6976794ece7d0cca7048/.github/workflows/CompatHelper.yml
---
name: CompatHelper
on:
  pull_request:
    paths:
      - ".github/workflows/CompatHelper.yml"
  schedule:
    - cron: "0 0 * * *"  # Everyday at midnight
  workflow_dispatch: {}
permissions:
  contents: write
  pull-requests: write
jobs:
  CompatHelper:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1"
      - uses: julia-actions/cache@v2
      - name: Install CompatHelper
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.add(PackageSpec(name="CompatHelper", version="3"))
      - name: Run CompatHelper
        shell: julia --color=yes {0}
        run: |
          using CompatHelper
          CompatHelper.main()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMPATHELPER_PRIV: ${{ secrets.DOCUMENTER_KEY }}
