---
name: Documenter
on:
  push:
    branches: ["main"]
    tags: ["*"]
    paths:
      - "docs/**"
      - "src/**"
      - "Project.toml"
      - ".github/workflows/Documenter.yml"
  pull_request:
    paths:
      - "docs/**"
      - "src/**"
      - "Project.toml"
      - ".github/workflows/Documenter.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    # These permissions are needed to:
    # - Checkout the repo
    # - Delete old caches: https://github.com/julia-actions/cache#usage
    # - Deploy the docs to the `gh-pages` branch: https://documenter.juliadocs.org/stable/man/hosting/#Permissions
    permissions:
      actions: write
      contents: write
      statuses: write
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1"
      - uses: julia-actions/cache@v2
      - name: Configure docs environment
        shell: julia --project=docs --color=yes {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
